* {
  box-sizing: border-box;
}

body {
  font-family: 'Monserat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
ul {
  list-style: none;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.js-flag-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.country-name {
  font-family: 'Monserat', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.03em;
}

.js-country-list {
  display: flex;
  gap: 15px;
}

.js-country-tags {
  font-family: 'Monserat', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.03em;
}

.js-counrty-information {
  font-family: 'Monserat', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
}

.country-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.country-list li {
  width: 100%;
}

.js-countries-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.countries-name {
  font-family: 'Monserat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: calc(34 / 32);
  letter-spacing: 0.03em;
}
